html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

nav {
  background-color: rgb(112, 109, 109);
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
}

nav a {
  border-right: 1px solid #bbb;
  color: rgb(255, 255, 255);
  text-decoration: none;
  display: grid;
  align-items: center;
  padding: 0 15px;
  font-size: 20px;
}

a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #29529e;
}

main {
  display: grid;
  grid-template-rows: 65px 1fr 65px;
  grid-template-areas:
    "header"
    "menu"
    "footer";
  grid-gap: 10px;
  background-color: #b3b7bb;
  padding: 10px;
}

main header,
main footer {
  background-color: rgba(131, 245, 235, 0.8);
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

main > section {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  gap: 10px;
}

#home-page > section > div,
#contact-page > section > div,
#about-page > section > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  height: 400px;
}

#about-page > section {
  grid-auto-flow: column;
  grid-template-columns: 100px 1fr 100px;
}

.book {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  align-items: center;
}

.book p {
  overflow: hidden;
  text-overflow: ellipsis;
}
